
1.Get the the dataset and give an overview of the data
2.Show a graphics of the Close prices (you can use plotly to have zoom capability)
3.ordonnerle dataset en fonction de la date
4.decode date value using the fonction pd.to_datetime. Explain the purpose of this step ?
5.normalize the dataset (You can use the MinMaxScaler). Explain the purpose of this step ?

# Model 1

Objectif: to predict the last 250 days prices given all the previous observation

Build a train and a test set in order to evaluate the model performance.

Utiliser une fenetre d'observation de 50 jours
Utiliser un sequence de pr√©diction de 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('stock_price.csv')

In [7]:
data.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146.0,10062.83
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515.0,7407.06
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786.0,3815.79
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590.0,3960.27
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749.0,3486.05

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1235 non-null   object
 1   Open                  1235 non-null   float64
 2   High                  1235 non-null   float64
 3   Low                   1235 non-null   float64
 4   Last                  1235 non-null   float64
 5   Close                 1235 non-null   float64
 6   Total Trade Quantity  1235 non-null   float64
 7   Turnover (Lacs)       1235 non-null   float64
dtypes: float64(7), object(1)
memory usage: 77.3+ KB

In [ ]:
#2.Show a graphics of the Close prices (you can use plotly to have zoom capability)